################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsyncAwaitSample/v15
/AsyncAwait.Console/bin/Debug
/AsyncAwait.Console/obj/Debug
/AsyncAwait.Library/obj/Debug
/AsyncAwait.Library/bin/Debug
/AsyncAwait.MVVM/obj/Debug
/AsyncAwait.MVVM/bin/Debug
/AsyncAwait.Wpf/obj/Debug
/AsyncAwait.Wpf/bin/Debug
