################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsyncAwaitSample/v15
/AsyncAwaitInConsole
/AsyncAwaitInWpf
